* text=auto

*.bat           text    eol=crlf
*.css           text
*.htm           text
*.html          text
*.java          text
*.js            text
*.json          text
*.jsp           text
*.md            text
*.properties    text
*.sh            text
*.svg           text
*.txt           text
*.xml           text

*.gif           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
